
.thephoto img{
  width: 600px;
  height: 500px;
  border-radius: 100px  70% 20% 70%;
  margin-top: 40px;
  margin-left: 30px;
  border-color: none;
  margin-right: 50px;
  border-color: none;
  box-shadow: none;
  border-style: none;
}

.thephoto{
  display: flex;
  flex-direction: row;
  gap: 250px;
}
.thephoto h2{
  margin-top: 130px;
  margin-left: 50px;
  font-family: cursive;
  font-style: italic;
}
.theparas p{
  margin-left: 50px;
  margin-top: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.theparas button{
  background-color: rgb(253, 78, 34);
  padding: 20px;
  border-radius: 30px;
  border-color: rgb(236, 99, 65);
  margin-left: 50px;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}
.itemscontroller{
  display: flex;
  flex-direction: row;
}
/* for loginpage */
.container{
  display:flex;
  flex-direction: column;
  margin: auto;
  background: #fff;
  padding-bottom: 30px;
  
}